# Archivos y carpetas de compilación
/build/
.gradle/
.idea/
*.iml

# Configuración local
local.properties
gradle.properties

# Archivos de caché del sistema
.DS_Store
*.log

# Archivos de empaquetado
*.jar
*.zip
*.war
*.ear
